.container{
    width: 100%;
    border: 3 px solid goldenrod;
    margin: 0 auto;
}
.test{
    color: indianred;
}
.test2{
    background-color: darkslategray;
    border: 2px solid darkslategray;
}
.mitten{
    float: left;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
    margin-bottom: 100px;
}
.header{
    width: 100%;
    height: 152px;
}
.hundsize{
    height: 200px;
}
.headerimg{
    width: 1440px;
}